<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">


    <title>()님의 여백</title>


<!--Boot Strap 등의 CSS 패키지 주소 삽입 -->
<!-- Bootstrap 연동-->
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


<!-- Google Noto Sans font 
Usage "font-family: 'Noto Sans', sans-serif; -->
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
	<!--페이지 전반적인 설정을 해야할 듯. 예를 들어 기본 폰트 설정,  -->
	{% block layout %}	{% endblock %}

	{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

</body>
</html>