<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title> 여백 메인화면:) </title>
	<link rel = "stylesheet" href="../static/css/detail.css">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
</head>
<body>
<!--
<script type ="text/javascript"> 
	window.fbAsyncInit = function() {
    FB.init({
      appId      : '1518750318362863',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>-->
		

	<div class="middle_bottom">
			<div class="fromby_top"><div class="from_top">Alice's Adventures in Wonderland</div><div class="by_top">Charles Lutwidge</div></div>
			<div class ="text">
				<p>
                    rofessional Edition
advanced tool for professional Python and Web development

Support for modern web development frameworks, such as Django, Flask, Google App Engine, Pyramid, web2py, etc.
Smart multi-language and cross-technology support, covering Python, JavaScript, CoffeeScript, TypeScript, HTML/CSS, Cython, Template languages and more
Running, debugging and testing applications on remote hosts or virtual machines
DatabasesSQL support, Class and database model diagrams
Free Community Edition
for pure Python coding and learning

Intelligent Editor, with code completion, on-the-fly error highlighting, auto-fixes, etc.
Automated code refactorings and rich navigation capabilities
Integrated debugger and unit testing support
Native VCS integrations
Customizable UI and key-bindings, with VIM
emulation available
And much more, all available under the Apache 2 license


				</p>
			</div>
    </div>

</div><a href="{{ url_for('main') }}"><img class="back_btn" src="../static/img/back.png"></div></a>
  
  <script src="../static/js/jquery-1.10.1.min.js"></script>
  <script>
     $(function(){

      $("html").addClass('wf-next').removeClass('wf-active wf-inactive wf-loading');
      setTimeout(function(){
        redirectToLink("main");
      }, 1500);

    $(".fromby_top").animate({
      top:'-1vh',
    });
    $(".back_btn").fadeIn(1500);
});
  </script>
</body>
</html>