<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title> 여백 메인화면:) </title>
    <link rel = "stylesheet" href="../static/css/idangerous.swiper.css">
    <link rel = "stylesheet" href="../static/css/main.css">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script defer src="../static/js/idangerous.swiper.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>
<div class="top">
    <a href="{{ url_for('write') }}"><div class="post"></div></a>
    <a href="{{ url_for('search') }}"><div class="search"></div></a>
    <!--search before/after  jinsa -->
</div>
<img class = "cir" src = "../static/img/cir_shadow.png">

<div class="swiper-container">
    <div class="swiper-wrapper">
        <!--First Slide-->
        <div class="swiper-slide">
            <!-- Any HTML content of the first slide goes here -->
            <div class="middle_bottom">
                <div class="fromby_top"><div class="from_top">Alice's Adventures in Wonderland</div><div class="by_top">Charles Lutwidge</div></div>
                <div class ="text">
                    <p>
Most programming languages are designed to be usable for "production code" and thus introduce additional complexity. Alice is designed solely to teach programming theory without the complex semantics of production languages such as C++. Users can place objects from Alice's gallery into the virtual world that they have imagined, and then they can program by dragging and dropping tiles that represent logical structures. Additionally, the user can manipulate Alice's camera and lighting to make further enhancements. Alice can be used for 3D user interfaces.
Alice is conjoined with its IDE. There is no syntax to remember. However, it supports the full object-based programming, event driven model of programming.
Alice is designed to appeal to specific subpopulations not normally exposed to computer programming, such as students of middle school age, by encouraging storytelling, unlike most other programming languages which are designed for computation. Alice is also used at many colleges and universities in Introduction to Programming courses.
                    </p>
                </div>

            </div>
            <!--side_gap :버튼들어갈 좌우여백부분, middle : 내용부분-->
            <div class="fromby"><div class="from">Alice's Adventures in Wonderland</div><div class="by">Charles Lutwidge</div></div>
            <div class = "fromby_bg"></div>
        </div>

        <div class="swiper-slide">

            <div class="middle_bottom">
                <div class="fromby_top"><div class="from_top">Alice's Adventures in Wonderland</div><div class="by_top">Charles Lutwidge</div></div>
                <div class ="text">
                     <p>
                         {{text}}
                    </p>
                </div>

            </div>
            <!--side_gap :버튼들어갈 좌우여백부분, middle : 내용부분-->

            <div class="fromby"><div class="from">Alice's Adventures in Wonderland</div><div class="by">Charles Lutwidge</div></div>
            <div class = "fromby_bg"></div>
        </div>

</div>
</div>

            <div class="gap">
                <span class = "arrow-left" href ="#"><img class = "side_gap_left" src = "../static/img/gap_left.png"></span>
                <span class = "arrow-right" href ="#"><img class = "side_gap_right" src = "../static/img/gap_right.png"></span>
            </div>
<script src="../static/js/jquery-1.10.1.min.js"></script>
  <script src="../static/js/idangerous.swiper.min.js"></script>
  <script>
$(function(){
  var mySwiper = $('.swiper-container').swiper({
     mode:'horizontal',
     loop: true
  });


  $('.arrow-left').click(function(){
    mySwiper.swipePrev()
  })
  $('.arrow-right').click(function(){
    mySwiper.swipeNext()
  })
  })
  </script>
</body>
</html>