<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title> 여백 메인화면:) </title>
	<link rel = "stylesheet" href="../static/css/main2.css">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<div class="main">
	<div class="top">
		<div class="post"></div>
		<div class="search"></div>
	</div>


	<div class="middle_bottom">
		<img class = "dia" src = "../static/img/dia.png">
			<div class ="text">
			<!--{% for items in all_list %}
			    <a class="text" href="show/{{ items.key() }}"><img class="example-image" src="show/{{ items.key() }}" alt=""></a>
                {% endfor %}-->
				<p>The viewport is the rectangular area that provides a drawable region for your web page. You can specify several viewport properties, such as its size and initial scale. Most important is the view port width, which defines the total number of horizontal pixels available from the web page's point of view (the number of CSS pixels available).
				The screen density
				The WebView class and most web browsers on Android convert your CSS pixel values to density-independent pixel values, so your web page	
				such as its size and initial scale. Most important is the view port width, which defines the total number of horizontal pixels available from the web page's point of view (the number of CSS pixels available).
				The screen density
				The WebView class and most web browsers on Android convert your CSS pixel values to density-independent pixel values, so your web page	The screen density  
				</p>
			</div>
		
    </div>



	<!--side_gap :버튼들어갈 좌우여백부분, middle : 내용부분-->

	<div class="fromby"><div class="from">from Book</div><div class="by">by Author</div></div>

		<div class="gap">
		<div class="side_gap_left">
		<div class="btn_left,btn">◀</div> 

		<div class="side_gap_right">
		<div class="btn_right,btn">▶</div>
		</div>

</div>


<div class="select">
	
</div>

</body>
</html>