<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>검색하기</title>
	<link rel = "stylesheet" href="../static/css/search.css">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>

<div class = "search">
<div class="top">
	<div class="go_main"></div>
</div>
<img class = "cir" src = "../static/img/non_cir_shadow.png">
	<form>
	<div class = "input">
		<div class = "line">
			<span class= "text">Flower Name</span>
			<input type=text class="input_s" name="from">
		</div>
		
		<div class = "or">
		<span>or</span>
		</div>

		<div class = "line">
			<span class= "text">Flower Meaning</span>
			<input type=text class="input_s" name="by">
		</div>

		<div class = "or">
		<span>or</span>
		</div>
		
		<div class = "line">
			<span class= "text">Color</span> 
			<input type=text class="input_s" name="keyword">
		</div>
	</div>
	<button type="submit" class="btn"></button>
	</form>
</div>

</body>
</html>