<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>포스팅하기</title>
    <link rel = "stylesheet" href="../static/css/write.css">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="top">
	<div class="go_main"></div>
</div>
	<img class = "cir" src = "../static/img/non_cir_shadow.png">
	<form action="/write" enctype="multipart/form-data" method="POST">
	<div class = "input">

		<div class = "line">
			<span class= "text">Contents</span> 
			<input type=text class="input_l" name="contents">
		</div>
		
		<div class = "or">

		</div>
		<div class = "line">
			<span class= "text">From</span>
			<input type=text class="input_from" name="from">
		</div>
		<div class = "line">
			<span class= "text">By</span>
			<input type=text class="input_by" name="by">
		</div>
		<div class = "image_upload">
        <span class = "text">
        Image Upload</br></br>
        <input type="file" name="file">
        </span>
        </div>

	</div>
	<button type="submit" class="btn"></button>
	</form>
</body>
</html>