<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>포스팅하기</title>
    <!--<link rel = "stylesheet" href="../static/css/write.css">-->
</head>
<body>

 <form>
	<div class ="line">
		<div class = "from">
			<span class= "text">From  </span>
			<input type=search class="input_s" name="from">
		</div>
		<div class = "by">
			<span class= "text"> By   </span>
			<input type=text class="input_s" name="by">
		</div>
	</div>

	<div class = "line">
			<div class = "write">
				<span class= "text">Write   </span> 
				<input type=text class="input_l" name="write">
				<button type="submit" class="btn">Enter</button>
			</div>
	</div>
</form>

</body>
</html>